@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Ubuntu:wght@300;400;500;700&display=swap");
.highlighted {
  color: #02295a !important;
  background-color: #bfe2fd; }

.heading-primary {
  font-size: 2.4rem;
  font-weight: 800;
  letter-spacing: 1px; }

.heading-subtext {
  font-size: 1.6rem;
  font-weight: 400;
  color: #9699ab; }

.form-progress {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .form-progress__list {
    margin: 1rem;
    list-style: none;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 95%;
    margin: 0px 0px;
    background-image: url("../assets/images/bg-sidebar-desktop.svg");
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    border-radius: 2rem; }
  .form-progress__item {
    display: flex;
    gap: 1rem;
    align-items: center; }
  .form-progress__step {
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #bfe2fd;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    color: #bfe2fd;
    font-size: 1.6rem; }
  .form-progress__step-info {
    display: flex;
    flex-direction: column;
    color: #fafbff;
    text-transform: uppercase; }
    .form-progress__step-info * {
      margin: 0; }
  .form-progress__heading {
    display: inline-block;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 1.2rem; }
  .form-progress__title {
    display: inline-block;
    font-weight: 800;
    letter-spacing: 2px; }

html {
  font-size: 62.5%;
  font-family: "Hanken Grotesk", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0;
  background-color: #f0f6ff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh; }

.main-container {
  width: 70vw;
  height: 65vh;
  background-color: #fafbff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  display: flex;
  align-items: center; }
