@import "_variables";

@import "_utils";

@import "form-steps/_form-step-1";
@import "form-steps/_form-step-2";
@import "form-steps/_form-step-3";
@import "form-steps/_form-step-4";

@import "_form-progress";

@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Ubuntu:wght@400;500;700&display=swap");

html {
  font-size: 62.5%;
  font-family: "Hanken Grotesk", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  background-color: $magnolia;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.main-container {
  width: 70vw;
  height: 65vh;
  background-color: $alabaster;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
  display: flex;
  align-items: center;
}
